@charset "UTF-8";
/*-------------------------------Navegador----------------------------- */
.imagen-logo-nav {
  height: 100px;
  margin-top: 0;
}

.navbar {
  background-color: rgba(153, 170, 169, 0.5);
  color: white;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-family: 'Major Mono Display', monospace;
  font-weight: 500;
  color: white;
}

#link-nav {
  margin-right: 100px;
  margin-left: 100px;
  color: white;
  font-size: 20px;
}

/*-------------------------------Página index----------------------------- */
/* Videos-index-flexbox*/
.main__media--videosIndex {
  padding: 1px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.media__video {
  padding: 5px;
  margin: 30px;
  float: left;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  background-color: #86bbb9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dibujos {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.col {
  float: left;
  margin: 1px;
  padding: 1px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
          transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.col1 {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.col1:hover {
  cursor: pointer;
  opacity: 20%;
}

.tituloMetodo {
  font-size: 21px;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.infoMetodo {
  font-size: 14px;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col2 {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.col3 {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.col4 {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

/*-------------------------------Página clases----------------------------- */
.main__titulo--clases {
  width: 100%;
  height: 50px;
  font-size: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.imagenClases {
  width: 100%;
}

.main__parrafo--clases {
  font-size: 15px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-top: 20px;
  margin: 20px;
}

.main__titulo--reapertura {
  font-size: 27px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-top: 20px;
  color: #5F9EA0;
}

.botonera_formulario {
  text-align: center;
}

.botonera_formulario--clases {
  background-color: #5F9EA0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.botonera_formulario--clases:hover {
  color: #48D1CC;
}

/* Tabla-Boostrap-clases*/
.table:hover {
  color: #86bbb9;
}

/* Grid-pag-clases*/
.grid {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
  -ms-grid-rows: 20% 20% 20%;
      grid-template-rows: 20% 20% 20%;
  grid-gap: 1rem;
  float: left;
  width: 100%;
  height: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5F9EA0;
  opacity: 80%;
}

.gridImg {
  margin-top: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.item-b {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.item-c {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.item-d {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.item-e {
  -ms-grid-row: 4;
  -ms-grid-row-span: -1;
  grid-row: 4 / 3;
}

.item-f {
  -ms-grid-row: 4;
  -ms-grid-row-span: -1;
  grid-row: 4 / 3;
}

.card-group {
  width: 100%;
}

.card-text {
  font-family: 'Major Mono Display', monospace;
  font-size: 10px;
}

.card-title {
  font-family: 'Major Mono Display', monospace;
  font-size: 15px;
}

.main__titulo--profesoras {
  font-size: 27px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  display: block;
  margin-bottom: 20px;
  margin-top: 50px;
}

/*-------------------------------Página estudio----------------------------- */
.main__titulo--estudio {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}

.titulo--estudio {
  font-size: 30px;
  background-color: #86bbb9;
  color: white;
  margin: 15px;
  padding: 5px;
}

.imagenEstudio {
  width: 100%;
}

.main__imagenes--estudio {
  padding: 1px;
  overflow: hidden;
  width: 564px;
  height: 363px;
}

.subtitulo--estudio {
  color: #86bbb9;
}

.texto--estudio {
  font-size: 12px;
}

.multimediaEstudio {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  overflow: auto;
  padding: 5px;
}

.imagen--estudio {
  height: 300px;
  width: 400px;
  float: left;
  margin: 3px;
  padding: 5px;
}

.mapaEstudio {
  margin: 3px;
  padding: 5px;
}

/*-------------------------------Página metodo----------------------------- */
#carouselClases {
  width: 100%;
}

.textoCarousel {
  font-family: 'Major Mono Display', monospace;
  background-color: #5f9ea08a;
}

.tituloMetodo {
  font-size: 27px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
}

.main__texto--metodo {
  font-size: 13px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main.metodo {
  background-color: #5f9ea08a;
  opacity: 60%;
  margin-top: 0px;
  margin: 10px;
}

/*-------------------------------Página contacto----------------------------- */
.main__titulo--contacto {
  font-size: 27px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #5F9EA0;
}

.botonContacto {
  background-color: #5F9EA0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

form {
  font-size: small;
  font-family: 'Major Mono Display', monospace;
  justify-items: center;
  width: 100%;
  height: 500px;
  padding: 10px;
}

.main__texto--contacto {
  font-size: 18px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  margin: 20px;
  background-color: #5f9ea08a;
  color: white;
}

/*-------------------------------Footer----------------------------- */
#logoContent {
  font-size: 10px;
  font-family: Quicksand-Light;
  font-style: italic;
  text-align: center;
}

#imagenLogo {
  display: block;
  margin: auto;
  height: 100px;
}

.textoFooter {
  text-align: center;
  font-family: Quicksand-Light;
  font-size: 10px;
}

.textoFooterClases {
  text-align: center;
  font-family: Quicksand-Light;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */